.body{
    background-image: url("../image/265461.jpg");
}
.button {
    margin-left: 15%;
    margin-top: 35%;
}
.myForm {
    margin-top: 20%;
    display: block;
    max-width: 65%;
    margin-right: 40%;
}
.tableDiv {
    margin-top: 5%;
    margin-right: 50%;
}
.myCollapse {
    margin-top: 20%;
    margin-right: 60%;
}
